*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
form{
    background-color: rgb(94, 94, 94);
    padding: 80px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    box-shadow: 0 10px 6px -6px grey;
}
#tempcalc label{
    font-size: 20px;
}
#temp-diff{
    border: none;
    margin-top: 20px;
    font-size: 14px;
}
[type="submit"]{
    background-color: rgb(53, 53, 53);
}
#resultcontainer{
    font-size: 15px;
    color: black;
}